.page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.chess-board-container {
    display: flex;
    justify-content: center;
}

.chess-board {
    border-spacing: 0;
    border-collapse: collapse;
}

.chess-board th {
    padding: .5em;
}

.chess-board td {
    border: 1px solid;
    width: 4em;
    height: 4em;
    background-size: 4em;
}

.chess-board .light {
    background-color: #e3aa00;
}

.chess-board .dark {
    background-color: #8a4e00;
}

.chess-board {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.reset-button {
    width: 8em;
    margin: 0 auto;
}

* {
    font-family: Roboto;
}