.page-container {
    display: flex;
    justify-content: center;
}

.chess-board {
    border-spacing: 0;
    border-collapse: collapse;
}

.chess-board th {
    padding: .5em;
}

.chess-board td {
    border: 1px solid;
    width: 6em;
    height: 6em;
    background-size: 6em;
}

.chess-board .light {
    background-color: #e3aa00;
}

.chess-board .dark {
    background-color: #8a4e00;
}

.chess-board {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}